html,body{
    margin: 0 auto;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#8dacf5;
    display: none;
}
.center-div{
    display:flex;
    align-items:center;
    text-align:center;
    justify-content: center;
    height:100%
}
.button{
    border-radius: 50px;
    width: 100%;
    border: 0px;
    height: 110px;
    font-size:40px;
    font-weight: bold;
    background-color: #697fcd;
    color: #ffffff;
}

.white{
    background-color:#ffffff;
    color:#7e99f3;
    
}
 .highlight{
    background-color:#697fcd;
    color:#ffffff;
}
.disabled{
    background-color: #bdd1ee;
    color:#ffffff;
}
.hollow{
    background-color:#ffffff;
    color:#7e99f3;
    border:solid 6px #84a0db;
    width:auto;
    padding:0px 8%;
    margin:2% 1% 0% 1%;
    opacity: 0.3;
}
.hollow-clicked{
    opacity:1;
}
.input-text{
    width: 100%;
    height: 110px;
    font-size:40px;
    font-weight: bold;
    border:solid 5px #84a0db;
    border-radius:15px;
    color:#8dacf5;
    padding-left:30px;
    margin-bottom:2%;
}
.input-text::placeholder{
    color:#8dacf5;
}
.body-container{
    /* min-height: 100%; */
    width: 100%;
    margin:auto;
}
.logo{
    height: 300px;
    width: 300px;
    display: inherit;
    position: inherit;
    margin:auto;
}
.white-text{
    color:#ffffff;
    font-size:35px;
    text-align: center;
    padding-bottom: 20px;
}
.padR15cent{
    padding-right: 15%;
}
.padL100cent{
    padding-left: 100%;
}
.body-container .homepage{
    background-color:#cbcbcb;
    min-height: 100%;
    width: 100%;
}
.body-container .homepage .homepage-logo{
    padding: 20% 0% 10% 0%;

}
.body-container .homepage .sign-up-email
{
    margin: 20% 10% 5% 10%;
}
.body-container .homepage .log-in{
    margin: 12% 10%;
}
.body-container .homepage .disclamer{
    padding: 10% 20%;
}

.body-container .signup .signup-logo
{
    padding: 10% 0% 5% 0%;
}
.body-container .login .login-logo{
    padding: 20% 0% 5% 0%;
}
.body-container .signup .client{
    margin: 8% 10% 3% 10%;

}
.body-container .signup .candidate{
    margin: 0% 10% 0% 10%;

}
.body-container .signup .sign-up-form,
.body-container .login .login-form{
    margin: 2% 10%;
}
.body-container .signup .sign-up,
.body-container .login .log-in{
    padding: 12% 10% 5% 10%;

}
.body-container .pages .header{
    margin: 5% 10% 5% 10%;
    font-size:70px;
    font-weight: bolder;
    text-align: center;
    color:#8dacf5;
}
.body-container .pages .sub-header{
    margin: 5% 10% 5% 10%;
    font-size:30px;
    text-align: center;
    color:#8dacf5;
}
.body-container .pages .label-header{
    margin: 5% 10% 5% 10%;
    font-size:50px;
    text-align: center;
    color:#8dacf5;
    font-weight: bolder;
}
.body-container .pages .scatter-button{
    margin: 10% 10% 0% 10%;
    text-align: center;

}
.body-container .pages .see-more{
    margin: 20% 10% 0% 10%;
    text-align: center;
    color:#7e99f3;
    font-size:40px;
}

.body-container .pages .createprofile{
    margin: 20% 10% 0% 10%;
    text-align: center;
    color:#7e99f3;
    font-size:40px;
    text-decoration: underline;
    font-weight: bold;
    text-underline-position: under;
}

.body-container .pages .search-more{
    margin: 20% 10% 0% 10%;
    text-align: center;
    color:#7e99f3;
    font-size:40px;
}
.body-container .pages .search-icon{
    margin: -12% 0% 0% 80%;
}
.skip{
    padding: 5% 5% 0% 80%;
}
.navigation{
    padding: 5% 20% 10% 10%;
    display: flex;
    position: relative;
    width: 100%;
}
.right-nav{
    position: absolute;
    right: 10%;
    bottom: 20%;
}
.left-nav{
    position: absolute;
    left: 10%;
    bottom: 20%;
}
.check{
    font-size: 60px;
   color:#ffffff;
   display: none;
   height: 0px;
}
.check>span{
    position: relative;
    left: 85%;
    top: -90px;
}
.padT5percent{
    padding-top: 5%;
}
.padT10percent{
    padding-top: 10%;
}
.padT20percent{
    padding-top: 20%;
}
.padT8percent
{
    padding-top: 8%;
}
.user-logo{
    text-align: center;
    font-size: 280px;
}
.user-logo .user-logo-border{
    border: 5px solid;
    height: 315px;
}
.add-button-glyph{
    text-align: center;
    font-size: 60px;
}
.hobbies-input{
    margin: 2% 10%;
}
.body-container .profile .activate-profile{
    margin: 12% 10%;
}
.body-container .resultSet .view-candidate{
    margin: 12% 10%;
}
.body-container .resultSet .search-result{
    margin: 12% 35%;
    
}
.body-container .resultSet .match-percent{
    margin: 12% 35%;
    
}
.search-result-button{
    height: 14%;
    width: 85%;
    border-radius: 130px;
}
.match-percent-button{
    height: 11%;
    width: 190px;
    border-radius: 130px;
    background-color: #84a0db;
}
.body-container .searchResult .candidate-result{
    margin: 2% 5% 0% 5%;
    
}
.body-container .searchResult .percentage-input,.body-container .searchResult .update-search-btn{
    margin: 1% 10% 5% 10%;
}
.search-profile-info .search-name-button .label-header{
    text-align: left;
    padding-top: 10%;
    font-size: 40px;
}
.search-profile-info .search-name-button .button{
    height: 70px;
    width: 350px;
}
.body-container .searchResult .search-profile-info
{
    display:flex;
    margin: 5% 5%;
}
.search-result-user-logo{
    text-align: center;
    font-size: 190px;
}
.search-result-user-logo .search-result-user-logo-border{
    border: 5px solid;
    height: 215px;
}
.search-profile-info .search-name-button{
    display:flex;flex-direction:column;width: 60%;
}
.contact-candidate-button{
    margin: 15% 10% 0% 10%;
}
.instant-search .button{
    font-size: 35px;
    height: 90px;
}
.instant-search .filter-navigation{
    display: flex;
    justify-content: space-between;
    margin-bottom: 9%;
}
.instant-search .filter-hide{
    border: 3px solid #8dacf5;
    padding: 1% 5%;
    border-radius: 20px;
}